/* Carousel Styling */
/* https://www.pexels.com/search/walk%20bridge/ for picks*/
.slide1{
  background-image: url('../pictures/strategy.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../pictures/report.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../pictures/bridge.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide4{
  background-image: url('../pictures/highway.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}

#theCarousel{
  height: 500px;
}



#logo {
  height: 100%;
  padding: 10px;
  width: auto;
/*  margin-left:-30px ;*/
}



/*
.navbar{
    background-color:#FFFFF0;
}
*/
.jumbotron{
    margin-bottom: 0;
    background-color: #FFFFF0;
  }


  .glyphicon {
      font-size: 50px;
      color: orange;
  }

.align-left{
  text-align:left;
}



.carousel-caption h1{
      font-size: 60px;
}

/*
.slide2{
  background-image: url('pictures/laptop-2411303.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('pictures/time-machine-2127684_1920.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/
